#################################
# Java
#################################
*.class
*.jar
*.war
*.ear

#################################
# Build Output
#################################
out/
bin/
build/
target/

#################################
# IntelliJ IDEA
#################################
.idea/
*.iml

#################################
# VS Code
#################################
.vscode/

#################################
# macOS
#################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*