# Ignore compiled Java class files
*.class

# macOS
.DS_Store

# VS Code
.vscode/

# git pull --rebase origin main

# git add .
# git commit -m "Auto updated"
# git push origin main


# git add . && git commit -m "Auto update" && git pull --rebase origin main && git push origin main