# git smartpush

# git config --global alias.smartpush '!git stash push -u -m "Auto stash before push"; \
# git pull --rebase origin main || echo "⚠️ Pull failed, continuing with local changes"; \
# git stash pop 2>/dev/null || echo "⚠️ Conflicts ignored, local changes kept"; \
# git add .; git commit -m "Auto update" 2>/dev/null || echo "Nothing to commit"; \
# git push origin main'




# full COMMAND
# !git stash push -u -m "Auto stash before rebase" && git pull --rebase origin main && git stash pop && git add . && git commit -m "Auto update" && git push origin main

# Java Build Artifacts
#################################
*.class
*.jar
*.war
*.ear

#################################
# macOS System Files
#################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*


# VS Code
.vscode/

# git pull --rebase origin main

# git add .
# git commit -m "Auto updated"
# git push origin main



# FINAL COMMAND
# git fetch origin main && git rebase origin/main && git add . && git commit -m "Auto update" && git push origin main

# option 2
# git add . && git commit -m "Auto update" && git pull --rebase origin main && git push origin main



